
  {% include 'base.html' %}
 {% block content %}
{% load static %}

<body>

    <h1>Register Here</h1>
    <h4>Please fill in this form to create an account.</h4>
    <form method="post">
        {% csrf_token %}
        <div class="col-md-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" name="username" required>
        </div>
        <div class="col-md-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="col-md-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Register</button>
        
</body>
</html>
{% endblock %}
{% include 'footer.html' %}

<style>
    body {
        background: linear-gradient(to right, #cf2178ff, #a31478ff, #8a0869ff);
        font-family: Arial, sans-serif;
        margin: 60px;
    }
    .form-label {
        margin-top: 10px;
        margin-left: 20px;
    }
    .btn {
        margin-top: 35px;
        width: 20%;
        margin-left: 40px;
    }
    .input {
        text-align: center;

    }
</style>
