
  {% include 'base.html' %}
 {% block content %}
{% load static %}

<body>
    <!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>


        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>


        <div class="mb-3">
            <label for="password1" class="form-label">Password:</label>
            <input type="password" id="password1" name="password1" required>
        </div>


        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password:</label>
            <input type="password" id="password2" name="password2" required>
        </div>

        <div class="mb-3">
        <button type="submit" class="btn-primary">Register</button>
        </div>
    </form>
</body>
</html>

        
</body>
</html>
{% endblock %}
{% include 'footer.html' %}

<style>
     body {
        background: linear-gradient; white, (#1b0c28, #300b26);
        font-family: Arial, sans-serif;
        margin: 60px;
    
    }
     
    .form-label {
        padding-top: 10px;
        margin-left: 230px;
    }
    .btn {
        margin-top: 35px;
        width: 20%;
        margin-left: 40px;
    }
    .input {
        text-align: center;

    }
</style>
